body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  opacity: .7;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  opacity: .7;
}



/* Header and Nav*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  float: left;
}

header img {
  padding-left: 24px;
  height: 48px;
}

#colmar {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  opacity: .8;
}

#academy {
  text-transform: uppercase;
  color: black;
  opacity: .5;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

header nav {
  padding-right: 8px;
  font-size: 20px;
  opacity: .5;
}

header li {
  padding-right: 16px;
}

/* Banner Section */

.banner {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.2);
}

div.image {
  width: 60%;
  padding: 32px 32px;
}

div.image img {
  max-width: 100%;
  max-height: 100%;
}

.banner-info {
  width: 40%;
}

.banner-info div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.banner-info h1 {
  padding-bottom: 24px;
}

.banner-info h2 {
  padding-bottom: 24px;
}

button {
  background-color: black;
  opacity: .7;
  color: white;
  height: 55px;
  width: 85%;
  font-size: 1em;
}

button:hover {
  color: black;
  background-color: white;
  transition: color 500ms linear 100ms;
}

/* News Section */

.news {
  display: flex;
  flex-flow: row nowrap;
  height: 750px;
  overflow: hidden;
  padding: 32px 0;
}

.main-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 60%;
  height: auto;
  padding: 32px 24px;
  float: left;
}

.main-article img {
  max-height: 100%;
  max-width: 100%;
}

.sub-articles {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  height: 100%;
  padding: 32px 0;
  border-left: 0.5px solid gray;
}

.sub-articles img {
  max-width: 100%;
  max-height: 100%;
}

.sub {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 16px 16px;
  height: 33%;
}

.img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.content {
  width: 65%;
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.news p {
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
  opacity: .6;
}

.news a {
  color: lightblue;
  text-decoration: none;
  font-size: 1.1em;
}

.news a:hover {
  color: black;
  transition: color 500ms linear 100ms;
}

#orientation {
  border-bottom: double gray;
}

#lecture {
  background-color: hsla(0, 0%, 0%, 0.2);
}

/* Courses */
