body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  opacity: .7;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  opacity: .7;
}

h3,
p {
  line-height: 1.2em;
  font-size: 1.1em;
  opacity: .5;
}


/* Header and Nav*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  float: left;
}

header img {
  padding-left: 24px;
  height: 48px;
}

#colmar {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  opacity: .8;
}

#academy {
  text-transform: uppercase;
  color: black;
  opacity: .5;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

header nav {
  padding-right: 8px;
  font-size: 20px;
  opacity: .5;
}

header li {
  padding-right: 16px;
}

/* Banner Section */

.banner {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.2);
}

div.image {
  width: 60%;
  padding: 32px 32px;
}

div.image img {
  max-width: 100%;
  max-height: 100%;
}

.banner-info {
  width: 40%;
}

.banner-info div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.banner-info h1 {
  padding-bottom: 24px;
}

.banner-info h2 {
  padding-bottom: 24px;
}

button {
  background-color: black;
  opacity: .7;
  color: white;
  height: 55px;
  width: 85%;
  font-size: 1em;
}

button:hover {
  color: black;
  background-color: white;
  transition: color 500ms linear 100ms;
}

/* News Section */

.news {
  display: flex;
  flex-flow: row nowrap;
  height: 750px;
  overflow: hidden;
  padding: 32px 0;
}

.main-article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 60%;
  height: auto;
  padding: 32px 24px;
  float: left;
}

.main-article img {
  max-height: 100%;
  max-width: 100%;
}

.sub-articles {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  height: 100%;
  padding: 32px 0;
  border-left: 0.5px solid gray;
}

.sub-articles img {
  max-width: 100%;
  max-height: 100%;
}

.sub {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 16px 16px;
  height: 33%;
}

.img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.content {
  width: 65%;
  height: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.news a {
  color: lightblue;
  text-decoration: none;
  font-size: 1.1em;
}

.news a:hover {
  color: black;
  transition: color 500ms linear 100ms;
}

#orientation {
  border-bottom: double gray;
}

#lecture {
  background-color: hsla(0, 0%, 0%, 0.2);
  margin-bottom: 32px;
}

/* Courses */

.courses {
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.2);
}

.courses h1 {
  padding: 32px 0 0 0;
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 32px 72px;
}

.items div {
  margin: 16px;
  text-align: left;
  background-color: white;
  width: 20em;
  height: 21em;
  line-height: 1.2em;
}

.items h2 {
  padding: 16px 16px 8px 16px;
}

.items h3 {
  text-transform: uppercase;
}

.items h3,
.items p {
  padding: 8px 16px;
}

.items div img {
  width: 20em;
  height: auto;
}

/* Thesis Exhibit */

.exhibit {
  padding-bottom: 32px;
}

.exhibit h1 {
  padding: 32px 0;
  text-align: center;
}

.exhibit-content {
  display: flex;
  flex-flow: row nowrap;
}

.main-exhibit {
  width: 60%;
  padding: 0 24px;
}

.main-exhibit video {
  width: 100%;
}

.main-exhibit h2 {
  padding: 24px 0;
}

.sub-exhibit {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  padding-right: 8px;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.item img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.item div {
  width: 65%;
}

.sub-exhibit h2 {
  padding: 24px 0;
}

#fisma {
  background-color: hsla(0, 0%, 0%, 0.2);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  height: 5em;
}
footer p,
footer ul {
  padding: 16px 24px;
}

li {
  line-height: 1.2em;
  font-size: 1.1em;
  opacity: .5;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 125px;
}
